.container{
    .nav1{
    width: 1200px;
    margin:0 auto;
    border:1px solid #a3a3a3;
    border-radius: 30px;
    height: 45px;
    line-height: 45px;
    margin-bottom:90px;
    span{
        margin:0 20px;
        &:nth-of-type(2){
            color:#da2a50;
            margin:0 0;
        }
    }
    i{
        font-style: normal;
    }
}
    .zong{
        width: 1200px;
        margin:0 auto;
        margin-bottom: 70px;
        overflow: hidden;
        h2{
            span{
                &:nth-of-type(1){
                    margin-left:30px;
                    margin-right:10px;
                    color:#da2a50;
                }
                &:nth-of-type(2){
                    
                }
            }
        }
        .zong_main{
            overflow: hidden;
            font-size: 14px;
            ul{
                li{
                    width: 1200px;
                    overflow: hidden;
                    border-bottom:1px solid #a3a3a3;
                    .zong_main_left{
                        float: left;
                        width: 240px;
                        height: 150px;
                        background: red;
                        margin: 20px 30px 20px 30px;
                        img{

                        }
                    }
                    .zong_main_right{
                        float: right;
                        margin: 20px 40px 20px 0;
                        
                        .top{
                            overflow: hidden;
                            width: 860px;
                            span{
                                margin-top: 10px;
                                margin-bottom: 30px;
                                &:nth-of-type(1){
                                    float: left;
                                    
                                }
                                &:nth-of-type(2){
                                    float: right;
                                    i{
                                        font-style: normal;
                                        color: #da2a50;
                                    }
                                }
                            }
                        }
                        .desc{

                        }
                    }
                }
            }
        }
    }
    .footer1{
        width: 1200px;
        text-align: center;
        margin: 0 auto;
       a{
           display: inline-block;
           width:40px;
           height: 40px;
          
       }
    }
}