
            <!-- 主体 -->
            <div class="main_whole">
                <div class="main">
                        <div  class="title">
                            <p class="title1">ps教程</p>
                            <p class="title2">主讲人：额滴神</p>
                        </div>
                        <div class="desc">接口：描述</div>
                        <div class="anniu"> 
                            <p class="price">￥199</p>
                            <input type="submit" class="btn" value="提交订单">
                        </div>
                </div>
        </div>

