<div class="nav1">
        <span>课程类型:</span>
        <span>全部</span>
        <span>|</span>
        <i>软件入门</i>
        <span>|</span>
        <i>设计技巧</i>
    </div>
    <!-- <div class="">
    
    </div> -->
    <div class="zong">
        <h2>
                <span>综合排序</span>
                <span>热门</span>
        </h2>
        <div class="zong_main">
            <ul>
                <li>
                    <div class="zong_main_left">
                        <img src="" alt="">
                    </div>
                    <div class="zong_main_right">
                        <div class="top">
                            <span>软件入门</span>
                            <span>课程评分:<i>4.5</i>分</span>
                        </div>
                        <div class="desc">
                            看电视看剧进度付款大幅扩大开放咖啡店蒂斯卡拉德里克
                        </div>
                    </div>
                </li>
                <li>
                    <div class="zong_main_left">
                        <img src="" alt="">
                    </div>
                    <div class="zong_main_right">
                        <div class="top">
                            <span>软件入门</span>
                            <span>课程评分:<i>4.5</i>分</span>
                        </div>
                        <div class="desc">
                            看电视看剧进度付款大幅扩大开放咖啡店蒂斯卡拉德里克
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="footer1">
        <a href="">首页</a>
        <a href="">上页</a>
        <a href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">...</a>
        <a href="">下页</a>
        <a href="">尾页</a>
    </div>