<div class="main1">
    <div class="main1_left">
        <img src="" alt="">
    </div>
    <div class="main1_right">
        <h2>ps教程</h2>
        <div class="desc">
            <div class="desc1">你懂的接口德生科技第三节课三季度开始的卡萨丁</div>
            <div class="price">￥199</div>
        </div>
        <div class="dafen">
            <span>视频时长:</span>
            <span>20个小时</span>
            <span>购买次数:</span>
            <span>258次</span>
            <span>评分：</span>
            <span></span>
        </div>
        <div class="car">
            
            <input type="submit" class="btn" value="加入购物车">
            <input type="submit" class="btn" value="点击购买">
        </div>
    </div>
</div>
<div class="main2">
    <div class="main2_left">
        <h2>基本介绍</h2>
        <div class='main2_lefttu'><img src="" alt=""></div>
        <div class='main2_lefttu'><img src="" alt=""></div>
        <div class='main2_lefttu'><img src="" alt=""></div>
    </div>
    <div class="main2_right">
        <h2>章节目录</h2>
        <div class="title1">
            <h3>1热即可付款吗杯咖啡</h3>
            <div class="title1_t">
                <ul>
                        <li>1.2电饭锅</li>
                        <li>1.2电饭锅</li>
                        <li>1.2电饭锅</li>
                </ul>
            </div>
        </div>
        <div class="title1">
                <h3>1热即可付款吗杯咖啡</h3>
                <div class="title1_t">
                    <ul>
                            <li>1.2电饭锅</li>
                            <li>1.2电饭锅</li>
                            <li>1.2电饭锅</li>
                    </ul>
                </div>
            </div>
    </div>
</div>
<div class="main3">
        <p class="price">￥199元</p>
        <input type="submit" class="btn" value="提交订单">
</div>