<div class="content">
    <div class="login-center">
        <div class="welc">
            <div class="line"></div>
            <div class="login-title">找回密码</div>
            <div class="line"></div>
        </div>
        <div class="login-user">
            <label for="">请输入邮箱号</label>
            <input type="text" name="username" id="username" placeholder="邮箱">
        </div>
        <div class="identifyCode">
            <input type="text" name="code" id="code" placeholder="验证码">
        </div>
        
        <div class="loginBtn">
            <button id="login-btn">下一步</button>
        <div class="noNumber">
            <p>邮箱号丢了？再<a href="register.html"><span>注册</span></a>一个吧！ </p>
        </div>
    </div>
</div>