    <div class="banner">
        <div class="swiper">
            <a href="#"><img src="../../styles/images/sx1(6).jpg" alt="123"></a>
        </div>
    </div>
    <div class="course">
        <!-- course -->
        <div class="courseBody">
            <div class="courseTitle">
                <div class="tit-top">
                    <div class="line"></div>
                    <div>course</div>
                    <div class="line"></div>
                </div>
                <p>提供多种视觉设计课程，等你来选</p>               
            </div>
            <ul>
                <li><a href="#">
                    <img src="" alt="123">
                </a></li>
                <li><a href="#">
                    <img src="" alt="123">
                </a></li>
                <li><a href="#">  
                    <img src="" alt="123">
                </a></li>
                <li><a href="#">
                    <img src="" alt="123">
                </a></li>
            </ul>
        </div>
    </div>
    <!-- characteristic -->
    <div class="characteristic">
        <div class="character">
            <div class="courseTitle">
                <div class="tit-top">
                    <div class="line"></div>
                    <div>Characteristic</div>
                    <div class="line"></div>
                </div>
                <p>专业才是硬道理，20万学员的智慧之选</p>               
            </div>
            <ul>
                <li><a href="#">
                    <img src="../../styles/images/sx1(12).png" alt="123">
                    <div class="characDesc">
                        <p>零基础</p>
                        <p>平台内所有课程通俗易懂</p>
                        <p>有视频、图文、学习方式多样</p>
                    </div>
                </a></li>
                <li><a href="#">
                        <img src="../../styles/images/sx1(15).png" alt="123">
                        <div class="characDesc">
                                <p>无门槛</p>
                                <p>不限学历、不限专业</p>
                                <p>只要你点开就能轻松学习</p>
                        </div>
                </a></li>
                <li><a href="#">
                        <img src="../../styles/images/sx1(11).png" alt="123">
                        <div class="characDesc">
                                <p>阶梯式教学</p>
                                <p>由浅入深、由简到难</p>
                                <p>根据自身知识面、对症下药</p>
                        </div>
                </a></li>
                <li><a href="#">
                        <img src="../../styles/images/sx1(16).png" alt="123">
                        <div class="characDesc">
                                <p>一对一效果跟踪</p>
                                <p>不懂、不会、不清楚</p>
                                <p>不要怕、平台专人解答</p>
                        </div>
                </a></li>
            </ul>
        </div> 
    </div>
    <!-- exhibition -->
    <div class="exhibition">
        <div class="exhibite">
            <div class="courseTitle">
                <div class="tit-top">
                    <div class="line"></div>
                    <div>exhibition</div>
                    <div class="line"></div>
                </div>
                <p>设计源于生活，高于生活</p>               
            </div>
            <ul>
                <li><a href="course_detail.html">
                    <img src="../../styles/images/sx1(13).png" alt="123">
                    <div><p>平面设计</p></div>
                </a></li>
                <li><a href="#">
                    <img src="../../styles/images/sx1(14).png" alt="123">
                    <div><p>海报设计</p></div>                    
                </a></li>
                <li><a href="#">
                    <img src="../../styles/images/sx1(4).png" alt="123">
                    <div><p>字体设计</p></div>                    
                </a></li>
                <li><a href="#">
                    <img src="../../styles/images/sx1(9).png" alt="123">
                    <div><p>插画设计</p></div>                    
                </a></li>
                <li><a href="#">
                    <img src="../../styles/images/sx1(14).png" alt="123">
                    <div><p>3D设计</p></div>
                </a></li>
                <li><a href="#">
                    <img src="../../styles/images/sx1(14).png" alt="123">
                    <div><p>2.5插画</p></div>
                </a></li>
                <li><a href="#">
                    <img src="../../styles/images/sx1(13).png" alt="123">
                    <div><p>图像合成</p></div>
                </a></li>
                <li><a href="#">
                    <img src="../../styles/images/sx1(13).png" alt="123">
                    <div><p>图像精修</p></div>
                </a></li>
            </ul>  
        </div> 
    </div>
    <!-- quotation -->
    <div class="quotation">
        <div class="quota">
            <div class="courseTitle">
                <div class="tit-top">
                    <div class="line"></div>
                    <div>quotation</div>
                    <div class="line"></div>
                </div>
                <p>大师语录，点亮你的心灵</p>               
            </div>
            <ul>
                <li><a href="#">
                    <img src="" alt="123">
                    <!-- <div><p>平面设计</p></div> -->
                </a></li>
                <li><a href="#">
                    <img src="" alt="123">
                    <!-- <div><p>海报设计</p></div>                     -->
                </a></li>
                <li><a href="#">
                    <img src="" alt="123">
                    <!-- <div><p>字体设计</p></div>                     -->
                </a></li>
                <li><a href="#">
                    <img src="" alt="123">
                    <div><p>插画设计</p></div>                    
                </a></li>
            </ul>  
        </div>
    </div>