<div class="content">
    <div class="login-center">
        <div class="welc">
            <div class="line"></div>
            <div class="login-title">欢迎登陆弘毅智学网！</div>
            <div class="line"></div>
        </div>
        <div class="login-user">
            <input type="text" name="username" id="username" placeholder="用户名">
        </div>
        <div class="login-pwd">
            <input type="text" name="pwd" id="pwd" placeholder="密码">
        </div>
        <div class="forget">
            <div class="next">
                <input type="checkbox" class="check" > 
                <span>下次自动登陆</span>
            </div>
            <div class="forPwd"><a href="findpwd.html">忘记密码？</a></div>
        </div>
        <div class="loginBtn">
            <button id="login-btn">登录</button>
        <div class="noNumber">
            <p>还没账号？<a href="register.html"><span>立即注册</span></a> </p>
        </div>
    </div>
</div>