<div class="content">
        <div class="leftList">
            <ul>
                <li><a href="#"><i></i> 已购买</a></li>
                <li><a href="#"><i></i> 全部订单</a></li>
                <li><a href="#"><i></i> 已加入购物车</a></li>
            </ul>
        </div>
        <div class="rightList">
            <ul>
                <li>
                    <img src="" alt="111">
                    <span>售价：299元</span>
                    <span>购买时间：5月31日</span>
                </li>
                <li>
                    <img src="" alt="111">
                    <span>售价：299元</span>
                    <span>购买时间：5月31日</span>
                </li>
            </ul>
        </div>
    </div>