
                <!-- 主体 -->
                <div class="main_whole">
                    <div class="main">
                        <div class="main1">
                            <div class="title">
                                <p class="title1">ps教程</p>
                                <p class="title2">主讲人：额滴神</p>
                            </div>
                            <div class="desc">接口：描述</div>
                        </div>
                    </div>
                    <div class="main2">
                        <p class="desc1">支付方式:</p>
                        <input type="radio" class="weixin" name="zd">微信支付<br>
                        <input type="radio" class="zfb" name="zd">支付宝支付
                    </div>
                    <div class="main3">
                            <input type="submit" class="btn" value="确认支付">
                    </div>
                   
            </div>
