
                <!-- 主体 -->
                <div class="main_whole">
                    <div class="main">
                        <div class="main1">
                            <i class="icon">&#xe770;</i>
                            <span>支付成功!</span>
                        </div>
                        <div class="main2">
                            <span>订单号:</span>
                            <span>1</span>
                            <span>共计:</span>
                            <span>1</span>
                        </div>
                        <div class="main3">
                            <span>返回首页</span>
                            <span>开始学习</span>
                        </div>
                    </div>
                </div>
 