<div class="toptu">

</div>
<div class="yiyang">
    <h2 class="title">
        推荐课程
    </h2>
    <div class="tu">
        <ul>
            <li><a href="course_detail.html"><img src="" alt=""></a> </li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
        </ul>
    </div>
</div>
<div class="yiyang_main">
    <h2 class="title">
        人气课程
    </h2>
    <div class="tu">
        <ul>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
        </ul>
    </div>
</div>
<div class="yiyang">
    <h2 class="title">
        优质课程
    </h2>
    <div class="tu">
        <ul>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
        </ul>
    </div>
</div>